.news {
  // last news
  &__last {
    grid-row: header-start / header-end;
    grid-column: col-start 1 / col-end 1;
  }

  &__shire {
    grid-row: header-start / header-end;
    grid-column: col-start 4 / col-end 4;
  }

  &__best {
    grid-row: col-start 1 / col-end 1;
    grid-column: col-start 1 / col-end 3;
  }
  // items eash news-box
  &__box {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 8rem;
    grid-row-gap: 1.2rem;
    margin-top: $margin-top;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-top: 3px solid $color-green;
    &__h1 {
      grid-column: 1 / 2;
      font-size: 2.5rem;
      color: $color-blue-dark;
      font-family: $font--header;
    }
    &__btn {
      grid-column: 3 / 4;
    }

    &__container {
      grid-column: 1 / -1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $color-gray-light;
      border-radius: 4px;
      box-shadow: 0 0.2rem 1rem rgba($color-black, 0.15);
      padding: 1rem;
      transition: all 0.2s;
      backface-visibility: hidden;
      &:hover {
        transform: scale(1.1);
        box-shadow: 0 0.7rem 1rem rgba($color-black, 0.1);
      }

      & img {
        width: 6rem;
        height: 6rem;
        border: 1px solid $color-white;
        border-radius: 4px;
        object-fit: cover;
        background-size: cover;
      }
      & .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 1rem;
        & h2 {
          font-family: $font--text;
          font-size: 1.5rem;
          line-height: 1;
        }
        & .text-box {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 1.2rem;
          font-family: $font--main;

          & a {
            @include link;
            font-family: $font--main;
            font-size: 1.5rem;
            color: $color-green;
          }
        }
      }
    }
  }

  // style items of setcion best news
  &__best {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-template-rows: 6rem;
    grid-auto-rows: 35rem;

    grid-gap: 2rem;
    padding: 2rem;
    margin-top: $margin-top;
    background-color: $color-gray-light;
    box-shadow: 0 0.2rem 1rem rgba($color-black, 0.15);
    &__h1 {
      font-size: 2.5rem;
      color: $color-blue-dark;
      font-family: $font--header;
      justify-self: flex-start;
    }
    &__btn {
      justify-self: flex-end;
    }
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;

      background-color: $color-white;
      border-radius: 5px;
      box-shadow: $box-shadow-def;
      transition: all 0.2s;
      &:hover {
        transform: scale(1.02);
        box-shadow: 0 2rem 2rem rgba($color-black, 0.25);
      }

      & img {
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 60%;
        background-repeat: no-repeat;
        object-fit: cover;
      }
      & h2 {
        padding: 1rem 2rem;
        font-family: $font--text;
        font-size: 2rem;
      }
      & .text-box {
        margin-top: -1rem;
        padding: 0 2rem;
        display: flex;
        justify-content: space-between;
        align-self: stretch;
        align-items: center;
        & .date {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 1.2rem;
          font-family: $font--main;
        }
        & a {
          @include link;
          font-family: $font--main;
          font-size: 1.5rem;
          color: $color-green;
        }
      }
    }
  }
}
